.mobile_header {
  background-color: #008945;
  padding: 5px;
}

.mobile_header .row {
  align-items: center;
  margin-right: 0px;
  margin-left: 0px;
}

.mobile_header .col-1 {
  padding: 5px;
}

.mobile_header div input {
  font-size: 13px;
}

.mobile_header .col-7 {
  position: relative;
  padding: 0 5px;
}

.mobile_header .col-7 svg {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #adb5bd;
  font-size: 20px;
}

.mobile_header div svg {
  font-size: 20px;
  color: white;
  outline: none;
  vertical-align: middle;
}

.mobile_header .col-2 {
  text-align: center;
  line-height: 16px;
  padding: 0;
}

.mobile_header .col-2 a {
  color: white;
  font-size: 13px;
}

.mobile_header > .div-col:before {
  border-right: 1px solid #9eedc8;
}

.b-sidebar-footer {
  position: absolute;
  bottom: 0;
  right: -75px;
}

.b-sidebar-footer .align-items-right{
  padding: 0 !important;
}

.b-sidebar-footer .align-items-right .btn-secondary {
  color: #000;
  padding: 10px 0;
  background-color: #EAEAEA;
  border: none;
}

.input-side-search {
  position: relative;
  padding: 0 15px;
}

.input-side-search .fa-search {
  position: absolute;
  color: #525252;
  top: 16px;
  right: 25px;
}

#sidebar-footer .b-sidebar-body nav ul li,
#sidebar-footer .b-sidebar-body nav ul .menu-side-bottom {
  padding: 10px 15px 0 15px !important;
  background-color: #F8F9FA;
}

#sidebar-footer .b-sidebar-body nav ul li a {
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 18px;
  padding-left: 0;
}

#sidebar-footer .b-sidebar-body nav ul li a svg{
  font-size: 15px;
  color: #979797;
}

#sidebar-footer .b-sidebar-body nav ul .collapsed a .fa-angle-down{
  display: block;
  float: right;
}

#sidebar-footer .b-sidebar-body nav ul .collapsed a .fa-angle-up{
  display: none;
}

#sidebar-footer .b-sidebar-body nav ul .not-collapsed a .fa-angle-up{
  display: block;
  float: right;
}
#sidebar-footer .b-sidebar-body nav ul .not-collapsed a .fa-angle-down{
  display: none;
}

#sidebar-footer .b-sidebar-body nav ul li:last-child a {
  border: none;
}

#sidebar-footer .b-sidebar-body nav ul div a {
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
  width: 100%;
  padding-bottom: 18px;
  padding-left: 0;
}

#sidebar-footer .b-sidebar-body nav ul .collapse,
#sidebar-footer .b-sidebar-body nav ul .collapse ul li {
  background-color: #fff;
}

#sidebar-footer .b-sidebar-body nav ul div ul li a {
  border: none;
  font-size: 14px;
  color: #525252;
  padding: 14px 10px 14px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
}

#sidebar-footer .b-sidebar-body nav ul div ul {
  padding-left: 0;
  list-style: none;
}

#sidebar-footer .b-sidebar-body nav ul div ul li {
  padding-left: 0 !important;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 12px !important;
  border-bottom: 1px dashed #d9d9d9 !important;
}

#sidebar-footer .b-sidebar-body nav ul div ul li:last-child {
  border: none !important;
}
